.textcentre{
	text-align: center;
}
.megethos{
	width: 100%;
}
.space{
	margin-top: 50px;
	width: 100%;
}
body {background-color: #BB99AC;}
.card{
	margin-top: 20px;
}
.mar{
	margin-bottom: 2%;
}

